.character-portrait {
	/*width: 155px;*/
	/*height: 90px;*/
}

.player, .character, .target {
	border: 2px solid green;
}

.enemy {
	border: 2px solid black;
	background-color: red;
}

.target {
	color: white;
	background-color: black;
}