body {
	background-image: url("../images/space_battle_background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

h1, h2 {
	color: orange;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.message {
	color: orange;
	background-color: black;
}

.character-portrait {
	/*width: 155px;*/
	height: 90px;
	margin: 0 auto;
}
.character, .player {
	background-color: white;
}

.player, .character, .target {
	border: 2px solid green;
}

.enemy {
	border: 2px solid black;
	background-color: red;
}

.target {
	color: white;
	background-color: black;
}

#button-restart {
	visibility: hidden;
}